* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 800px;
    margin: 0 auto;
    height: -webkit-fill-available;
}



/* ===============
Banner Section
================= */
.banner{
    height: 450px;
    background: rgba(229, 84, 115, 0.10);
}
.banner .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    height: -webkit-fill-available;
}
.banner .details{

}
.banner h1{
    margin: 0;
    font-size: 45px;
}
.banner p{
    margin: 25px 0 0 0;
    font-size: 20px;
}
.banner .cover{
    height: -webkit-fill-available;
    display: flex;
    align-items: end;
}
.banner .cover img{
    width: 300px;
}








/* ===============
Featured Section
================= */
.featured{
    background: #fff;
    padding: 100px 0 100px 0;
}
.featured h3{
    margin: 0;
    font-size: 35px;
    text-align: center;
}
.featured p{
    margin: 25px 0 0 0;
    font-size: 18px;
    text-align: center;
}
.featured .grid_3{
    margin: 50px 0 0 0;
    display: flex;
    gap: 15px;
}
.featured .grid_3 p{
    flex: 1;
    text-align: center;
}
.featured .grid_3 .img{
    flex: 1;
    width: 256px;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
    background: red;
    border-radius: 128px 128px 0 0;
}
.featured .grid_3 .img:nth-child(1){
    background: rgba(167, 33, 98, 0.15);
}
.featured .grid_3 .img:nth-child(2){
    background: rgba(5, 151, 160, 0.15);
}
.featured .grid_3 .img:nth-child(3){
    background: rgba(71, 125, 17, 0.15);
}
.featured .grid_3 .img img{
    width: 140px;
}





/* ===============
Best Selling Section
================= */
.best_selling{
    background: #fff;
    padding: 100px 0 100px 0;
}
.best_selling h3{
    margin: 0;
    font-size: 35px;
    text-align: center;
}
.best_selling p{
    margin: 25px 0 0 0;
    font-size: 18px;
    text-align: center;
}
.best_selling .grid_4{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.best_selling .grid_4 img{
    height: 400px;
}




/* ===============
Instagram Section
================= */
.instagram{
    background: #fff;
    padding: 100px 0 100px 0;
}
.instagram h3{
    margin: 0;
    font-size: 35px;
    text-align: center;
}
.instagram p{
    margin: 25px 0 0 0;
    font-size: 18px;
    text-align: center;
}
.instagram .grid_4{
    display: flex;
    gap: 15px;
}
.instagram .grid_4 img{
    flex: 1;
    width: 100px;
}







/* ===============
Hot Deal Section
================= */
.hot_deal{
    height: 450px;
    background: rgba(229, 84, 115, 0.10);
}
.hot_deal .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    height: -webkit-fill-available;
}
.hot_deal .details{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.hot_deal h1{
    margin: 0;
    font-size: 45px;
    text-align: center;
}
.hot_deal p{
    margin: 25px 0 0 0;
    font-size: 20px;
    text-align: center;
}
.hot_deal .cover{
    height: -webkit-fill-available;
    display: flex;
    align-items: end;
}
.hot_deal .cover img{
    width: 300px;
}




/* ===============
subscription Section
================= */
.subscription{
    
}
.subscription .main{
    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.subscription .main .form{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.subscription .main .form input{
    flex: 1;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
}
.subscription .main .form button{
    width: 150px;
}




/* footer starts here*/
footer{
    background: #111010; 
}
.main-footer {
    
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;


}

.foot-text {
    text-align: center;
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.foot-col {
    color: #FFFFFF;
}

.f-p-text {
    display: flex;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.last {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
   
