/*css file starts here*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
    height: -webkit-fill-available;
}



/* ===============
Banner Section
================= */
.banner {
    height: 450px;
    background: rgba(229, 84, 115, 0.10);
}

.banner .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    height: -webkit-fill-available;
}

.banner .details {}

.banner h1 {
    margin: 0;
    font-size: 45px;
}

.banner p {
    margin: 25px 0 0 0;
    font-size: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.banner .cover {
    height: -webkit-fill-available;
    display: flex;
    align-items: end;
}

.banner .cover img {
    width: 300px;
}

.banner .btn-primary {
    display: inline-flex;
    margin-top: 25px;
    padding: 10px 30px;
    align-items: flex-start;
    color: #fff;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}




/* ===============
Featured Section
================= */
.featured {
    background: #fff;
    padding: 100px 0 100px 0;
}

.featured h3 {
    margin: 0;
    font-size: 35px;
    text-align: center;
}

.featured p {
    margin: 25px 0 0 0;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.featured .grid_3 {
    margin: 50px 0 0 0;
    display: flex;
    gap: 15px;
}

.featured .grid_3 p {
    flex: 1;
    text-align: center;
}

.featured .grid_3 .img {
    flex: 1;
    width: 256px;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
    background: red;
    border-radius: 128px 128px 0 0;
}

.featured .grid_3 .img:nth-child(1) {
    background: rgba(167, 33, 98, 0.15);
}

.featured .grid_3 .img:nth-child(2) {
    background: rgba(5, 151, 160, 0.15);
}

.featured .grid_3 .img:nth-child(3) {
    background: rgba(71, 125, 17, 0.15);
}

.featured .grid_3 .img img {
    width: 140px;
}





/* ===============
Best Selling Section
================= */
.best_selling {
    background: #fff;
    padding: 100px 0 100px 0;
}

.best_selling h3 {
    margin: 0;
    font-size: 35px;
    text-align: center;
}

.best_selling p {
    margin: 25px 0 0 0;
    font-size: 18px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}

.best_selling .grid_4 {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.best_selling .grid_4 img {
    height: 400px;
}

/* ===============
Hot Deal Section
================= */
.hot_deal {
    height: 450px;
    background: rgba(229, 84, 115, 0.10);
}

.hot_deal .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    height: -webkit-fill-available;
}

.hot_deal .details {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.hot_deal h3 {
    margin: 0;
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hot_deal .discount {
    color: #E55473;
}

.hot_deal p {
    margin: 25px 0 0 0;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.hot_deal .cover {
    height: -webkit-fill-available;
    display: flex;
    align-items: end;
}

.hot_deal .cover img {
    width: 300px;
    padding-bottom: 30px;
}

.hot_deal .btn-sec {
    display: inline-flex;
    margin-top: 25px;
    padding: 10px 30px;
    align-items: flex-start;
    color: #fff;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}



/* ===============
Instagram Section
================= */
.instagram {
    background: #fff;
    padding: 100px 0 100px 0;
}

.instagram h3 {
    margin: 0;
    font-size: 35px;
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.instagram p {
    margin: 25px 0 0 0;
    font-size: 18px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;
}

.instagram .grid_4 {
    display: flex;
    gap: 15px;
}

.instagram .grid_4 img {
    flex: 1;
    width: 100px;
}



/* ===============
subscription Section
================= */
.subscription {
    padding-bottom: 80px;
}

.subscription .main {
    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.subscription h3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;

}

.subscription p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.subscription .main .form {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.subscription .main .form input {
    flex: 1;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.subscription .main .form button {
    width: 150px;
}

.subscription .subs {
    height: 40px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;

}




/* ===============
footer Section
================= */
footer {
    background: #111010;
    padding-bottom: 45px;
}

 .main-footer {


    display: flex;
    flex-flow: column;
    align-items: center;


}

.main-footer h3 {
    text-align: center;
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.foot-col {
    color: #FFFFFF;
   }
   
   
.main-footer p {

    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    
}

.last {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
}